body {
    line-height: 1;
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #0cc8f8;
}
.header-user{
    text-align: center;
}
.login {
    position: relative;
    margin: 50px auto 0 auto;
    padding: 20px 20px 20px;
    max-width: 500px;
    min-width: 300px;
    min-height: 250px;
    background: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* рамка вокруг формы */
.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}